.social-box{
    display:flex;
    flex-direction: row;
    width:100%;
    background-color: #256ee4;
    padding:1rem 0;
    justify-content: center;
    margin-top:2rem;
    
}

.icon{
    margin:1rem;
    font-size:2.0rem;
    padding: 0.3rem;
    color: #fff;
    border:2px solid #fff;
    border-radius: 5px;

}

.icon:hover{
    
    border:2px solid #000;
    color:#000;
}
